<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/clientCSS/customBootstrap.css" >

    <script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/clientCSS/branko.css" />

    <script src="/clientJs/branko.js"></script>
    <script type = "text/javascript" language = "javascript" >
      $(document).ready(function() {
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
          var scrollTop = $(document).scrollTop();
          var anchors = $('body').find('.anchor');
          var docHeight = $(document).height() - $(window).height();
          var buttons = $('.navbar-right').find('li');

          for (var i = 0; i < anchors.length; i++){
            if (scrollTop > $(anchors[i]).offset().top - 100 && scrollTop < $(anchors[i]).offset().top + $(anchors[i]).height() - 100) {
              $(buttons[i]).addClass('active');
            } else {
              $(buttons[i]).removeClass('active');
            }
            if(scrollTop > docHeight-50){
               buttons.removeClass('active');
               buttons.slice(-1).addClass('active')
             }
          }

          // Grow or shrink nav bar//
          if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
              $("#myNavbar").addClass("navbar-shrink");
          } else {
             $("#myNavbar").removeClass("navbar-shrink");
          }
        }

        // jQuery for page scrolling feature - requires jQuery Easing plugin
        $(function() {
            $('.page-scroll a').bind('click', function(event) {
                var $anchor = $(this);
                $('html, body').stop().animate({
                    scrollTop: $($anchor.attr('href')).offset().top
                }, 1500, 'easeInOutExpo');
                event.preventDefault();
            });
        });

        // Floating label headings for the contact form
        $(function() {
            $("body").on("input propertychange", ".floating-label-form-group", function(e) {
                $(this).toggleClass("floating-label-form-group-with-value", !! $(e.target).val());
            }).on("focus", ".floating-label-form-group", function() {
                $(this).addClass("floating-label-form-group-with-focus");
            }).on("blur", ".floating-label-form-group", function() {
                $(this).removeClass("floating-label-form-group-with-focus");
            });
        });

        // Closes the Responsive Menu on Menu Item Click
        $('.navbar-collapse ul li a').click(function() {
            $('.navbar-toggle:visible').click();
        });
      });
    </script>
</head>

<body class="index-page">

  <!-- NAVBAR SECTION -->
  <nav id="myNavbar" class="navbar navbar-default navbar-fixed-top anchor">
    <div class="container nav_container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <!-- Icon links -->
        <a href="https://www.linkedin.com/in/branko-bajic/" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
  			<a href="https://gitlab.com/Branx" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-gitlab"></i></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden active">
            <a href="#page-top"></a>
          </li>
          <li class="page-scroll">
            <a href="#bio">About Me</a>
          </li>
          <li class="page-scroll">
            <a href="#projects">Projects</a>
          </li>
          <li class="page-scroll">
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- PICTURE + ROTATING CUBE SECTION-->
  <header>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

          <!-- THREE.JS SECTION -->
          <script src="clientJs/three.js" class="javascript"></script>
          <script src="clientJs/OrbitControls.js"></script>
          <script src="clientJs/GLTFLoader.js"></script>
          <script src="clientJs/underscore.js"></script>
          <script>
          // ===================== MAIN THREE.JS SCRIPT================================ //
          var children;
          var numChildren;
          var edge_geometry;
          var edge_material;
          var edges;
          var loaded = 0;
          var total = 100;
          var root;
          var completed = false;
          var group;
          var pivot = new THREE.Group();
          var bigCube;
          var clips;
          var aCounter = 0;
          var numAnimations;
          var animationsArr;
          const ANIMATION_SPEEDCONTROL = 10;

          // Load 3D Scene
          var scene = new THREE.Scene();

          scene.background = new THREE.Color(0x1f2833);

          // Load Camera Perspective
         var camera = new THREE.PerspectiveCamera(45, 2, 1, 1000);
         camera.position.set(0, 5, 15); // x, y, z
         camera.lookAt(0, 0, 0);

          // Load a Renderer
         var renderer = new THREE.WebGLRenderer();
         renderer.setPixelRatio(window.devicePixelRatio);
         //renderer.setSize(window.innerWidth, window.innerHeight);

         document.body.appendChild(renderer.domElement);

          // Load the Orbitcontroller
         //var controls = new THREE.OrbitControls(camera, renderer.domElement);

          // Load Light
         //var ambientLight = new THREE.AmbientLight(0xcccccc);
         //scene.add(ambientLight);

         //var directionalLight = new THREE.DirectionalLight(0x0b9c19);
         //directionalLight.position.set(0,1,1).normalize();
         //scene.add(directionalLight);

         var mixer = new THREE.AnimationMixer(scene);

         function main(){
            // glTf loader
           var loader = new THREE.GLTFLoader();
           const res = loader.load('./models/cubes.gltf', (gltf) => {
             animations = gltf.animations;
             root = gltf.scene;
             root.scale.set(2, 2, 2);
             root.position.x = 0;				    // Position (x = right+ left-)
             root.position.y = 0;				    // Position (y = up+, down-)
             root.position.z = 0;				    // Position (z = front +, back-)

             children = root.children; // Array of all the cubes
             numChildren = children.length;

             bigCube = new THREE.Object3D();

             // add line edges to each cube and add them to a group (aka "the big cube") //
             for (var i = 0; i < numChildren; i++){
               // Create a new cube object by cloning the original //
               var cube = _.clone(children[i]);
               cube.modelViewMatrix = _.clone(children[i].modelViewMatrix);
               cube.normalMatrix = _.clone(children[i].normalMatrix);

               // Draw the edge lines //
               edge_geometry = new THREE.EdgesGeometry(cube.geometry);
               edge_material = new THREE.LineBasicMaterial( {color: 0x000000} );
               edge_material.polygonOffset = true;
               edge_material.polygonOffsetFactor = -0.1;
               edges = new THREE.LineSegments(edge_geometry, edge_material);
               cube.add(edges);

               bigCube.add(cube);
             }
             scene.add(root);
             pivot.add(bigCube);
             bigCube.position.set(0.5, 0.5, 0.5); // Pivot location (center of the cubes)
             scene.add(pivot);
             setInitialCanvas();

             // Create array for holding all the animations UUIDs//
            animationsArr = [];
            animations.forEach(function (clip) {
              animationsArr.push(clip.uuid);
            } );
            numAnimations = animationsArr.length;

            render();
            animate();

           });

           function update() {
             mixer.update(0.01);
           }

           function animate(){
           	requestAnimationFrame(animate);
            update(); // Update the animations
            pivot.rotation.y += 0.01; // Constant rotation of the big cube

            // Determine the cube to play the animation for //
            if (aCounter == 0 || aCounter % ANIMATION_SPEEDCONTROL == 0){
              var randomClipID = Math.floor(Math.random() * (numAnimations)); // Generate a random num between 0 and the
              newAnimation(animationsArr[randomClipID]);                      // number of animations
            }

            aCounter += 1;
            render();
          }

           function render(){
            //resizeCanvasToDisplaySize();
           	renderer.render(scene,camera);
          }

          function arrayRemove(arr, value) {
           return arr.filter(function(ele){
               return ele != value;
           });

        }

          // Function to play a small cubes animation //
          function newAnimation(uuid){
            //requestAnimationFrame(animate);

            // Play the animation //
            animations.forEach(function (clip) {
              if (clip.uuid == uuid && !mixer.clipAction(clip).isRunning()) {
                //currPlaying.push(uuid);
                mixer.clipAction(clip).loop = THREE.LoopOnce; // Ensure the animation only plays once
                mixer.clipAction(clip).play(); // Play the animation
                mixer.clipAction(clip).reset();
                //currPlaying = arrayRemove(currPlaying, uuid); // Remove the animation from the list of currently playing animations
              }
            });
          }

          function resizeCanvasToDisplaySize() {
            const canvas = renderer.domElement;
            // look up the size the canvas is being displayed
            const width = canvas.clientWidth;
            const height = canvas.clientHeight;

            // adjust displayBuffer size to match
              renderer.setSize(width, height, false);
              camera.aspect = width / height;
              camera.updateProjectionMatrix();
          }

          function setInitialCanvas() {
            const canvas = renderer.domElement;
            const width = canvas.clientWidth * 6;
            const height = canvas.clientHeight * 4;

            renderer.setSize(width, height, false);
            camera.aspect = width / height;
            camera.updateProjectionMatrix();
          }
        }
          main();
          </script>

          <!-- TODO: Picture -->
          <!-- <img class="img-responsive" src="/images/branko.PNG" alt=""> -->
          <div class="intro-text">
            <span class="name">Branko Bajic</span>
            <hr>
            <span class="skills">Software Engineer | Calgary, AB</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<!-- ABOUT ME SECTION -->
  <section id="bio">
    <div class="container anchor">
      <div class="row">
        <div id="about_me"class="col-lg-12 text-center">
          <h2>About Me</h2>
          <hr class="star-primary">
        </div>
      </div>
  		<div class="row text-center">
  			<p>
  				Recent computer science graduate looking for work. Video game and outdoor enthusiast. I like to solve problems with software.
  			</p>
  		</div>
    </div>
  </section>

<!-- PROJECTS SECTION -->
  <section class="success" id="projects">
    <div class="container anchor">
      <div class="row">
        <div id="projects" class="col-lg-12 text-center">
          <h2>Projects</h2>
          <hr class="star-light">
        </div>
      </div>
      <div id="projects_text" class="row">
        <div class="row">
  		    <h3 style="margin-top:0">Tic Sensor Wearable</h3>
  		    <ul>
    				<li>
    					Working with a team of engineers and neurologists to develop 3D printed glasses with electromyography (EMG) sensors attached that record facial movements of the wearer throughout the week.
    					Writing Python code that filters out noise in the data and correctly identifies tics (sudden motor movements). This data is going to be used by neur
    					ological teams
    					to help diagnose individuals with tic disorders more accurately and reliably compared to current diagnostic methods.
    				</li>
  		    </ul>
          <h3 style="margin-top:0">Glowfest Domes</h3>
  		    <ul>
    				<li>
    					Wrote Arduino code for two interactive domes that would detect movement using proximity sensors placed around the domes and then animate LEDs within the dome. The project was funded by the Calgary Downtown Business Association and was displayed during Glowfest YYC 2019.
    				</li>
  		    </ul>
  		    <h3 style="margin-top:0">Space Game App</h3>
  		    <ul>
    				<li>
    					Worked in a team of five to create a space shooting game for iOS written in Swift. The game features randomly generated enemies and obstacles.
    				</li>
  		    </ul>
        </div>
      </div>
    </div>
  </section>

<!-- CONTACT ME SECTION -->
  <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>
  <section id="contact">
  	<div class="container anchor">
  		<div class="row">
  			<div id="contact_me" class="col-lg-12 text-center">
  				<h2>Contact Me</h2>
  				<hr class="star-primary">
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-lg-8 col-lg-offset-2">
  				<form action="/contact" method="POST" name="sentMessage" id="contact-form" novalidate="" role="form" target="dummyframe">
  					<div class="row control-group">
  						<div class="form-group col-xs-12 floating-label-form-group controls">
  							<input type="text" name="name" class="form-control" placeholder="Name" id="name" required="" data-validation-required-message="Please enter your name." aria-invalid="false">
  							<p class="help-block text-danger"></p>
  						</div>
  					</div>
  					<div class="row control-group">
  						<div class="form-group col-xs-12 floating-label-form-group controls">
  							<input type="email" name="email" class="form-control" placeholder="Email Address" id="email" required="" data-validation-required-message="Please enter your email address." aria-invalid="false">
  							<p class="help-block text-danger"></p>
  						</div>
  					</div>
  					<div>
  						<input type="hidden" name="_subject" value="New submission!">
  						<input type="text" name="_gotcha" style="display:none">
  					</div>
  					<div class="row control-group">
  						<div class="form-group col-xs-12 floating-label-form-group controls">
  							<textarea rows="5" name="message" class="form-control" placeholder="Message" id="message" required="" data-validation-required-message="Please enter a message." aria-invalid="false"></textarea>
  							<p class="help-block text-danger"></p>
  						</div>
  					</div>
  					<br>
  					<div id="success"></div>
  					<div class="row">
  						<div class="form-group col-xs-12">
  							<button id="submit_button" name="submit_button" type="submit" class="btn btn-success btn-lg">Send</button>
  						</div>

  						<div id="success_message" style="width:100%; height:100%; display:none; ">
  							<h3>Success!</h3>
  						</div>

  						<div id="error_message"
  							style="width:100%; height:100%; display:none; ">
  							<h3>Error</h3>
  						</div>
  					</div>
  				</form>
  			</div>
  		</div>
  	</div>
  </section>

  <!-- FOOTER SECTION -->
  <footer class="text-center">
    <div class="footer-below">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            Copyright © Branko Bajic 2019
          </div>
        </div>
      </div>
    </div>
  </footer>

  <footer class="footer">
    <div class="container">
      <nav class="pull-left"></nav>
    </div>
  </footer>

</body>
</html>
